
GUI/.metadata/.lock
GUI/.metadata/.log
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/11/f00cad515c63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/14/605bde5e6963001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/20/c00580b66a63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/29/c00e85a26163001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/26/603cc72e6163001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/35/f050d7326263001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/59/f05081055e63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/3b/30a67eb66a63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/78/70659f516963001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/82/106794345e63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/82/601e35745d63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/87/b069856a5d63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/98/503c368e6163001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/9/705195345e63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/98/8030c72d6c63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/aa/401482055e63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/d/80697fb66a63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/c/e05748946163001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/d3/f0554d115e63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
GUI/.metadata/.plugins/org.eclipse.core.resources/.history/ec/50fbcd025f63001d1104aba1c3d9fee2
GUI/.metadata/.plugins/org.eclipse.core.resources/.projects/Sample1/.indexes/e4/56/history.index
GUI/.metadata/.plugins/org.eclipse.core.resources/.projects/Sample1/org.eclipse.jdt.core/state.dat
GUI/.metadata/.plugins/org.eclipse.core.resources/.projects/Sample1/.markers
GUI/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
GUI/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
GUI/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
GUI/.metadata/.plugins/org.eclipse.core.resources/.root/6.tree
*.setup
*.properties
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
GUI/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
GUI/.metadata/.plugins/org.eclipse.debug.core/.launches/Try1 (1).launch
GUI/.metadata/.plugins/org.eclipse.debug.core/.launches/Try1.launch
GUI/.metadata/.plugins/org.eclipse.debug.core/.launches/Try2.launch
GUI/.metadata/.plugins/org.eclipse.debug.core/.launches/Try3.launch
GUI/.metadata/.plugins/org.eclipse.debug.core/.launches/Try4.launch
GUI/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
GUI/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
GUI/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
GUI/.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
GUI/.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
GUI/.metadata/.plugins/org.eclipse.jdt.core/3023743177.index
GUI/.metadata/.plugins/org.eclipse.jdt.core/3835763464.index
GUI/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
GUI/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
GUI/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
GUI/.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
GUI/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
GUI/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
GUI/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
GUI/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
GUI/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
GUI/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
GUI/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
GUI/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
GUI/.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
GUI/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
GUI/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.2.0.0.20220705-1221.xml
GUI/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.tm.terminal.view.ui/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
GUI/.metadata/.plugins/org.eclipse.ui.intro/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.ui.intro/introstate
GUI/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
GUI/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
GUI/.metadata/version.ini
